/* ---------------------------------
            HEADER
----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
    font-family: 'Inter', sans-serif;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;

    position: fixed;     /* sempre no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;

    background: transparent; /* transparente na home */
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.topo.scrolled {
    background: #fff; /* fundo normal ao rolar */
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.topo:not(.scrolled) .menu a,
.topo:not(.scrolled) .logo,
.topo:not(.scrolled) .cart-icon {
    color: #fff;
}

/* Header normal após scroll */
.topo.scrolled .menu a,
.topo.scrolled .logo,
.topo.scrolled .cart-icon {
    color: #000;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.logo span {
    color: #e63946;
}

.menu a {
    margin: 0 12px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

.menu a:hover {
    color: #0057ff;
}

.cart-icon {
    font-size: 26px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}

.cart-icon:hover {
    transform: scale(1.1);
}
